h1{
    background-color:#505050;
    color:#fff;
    padding-top:10px;
    padding-left:30px;
    padding-bottom:10px;
    margin: 0px;
    
}
.title{
    

    width: 20%;

    line-height: 100px;

    height: 150px;

    text-align: center;

    background-color: gainsboro;

    float: left;

    font-size: 1.5em;

    font-weight: 700;

    border-bottom: 2px solid gray;
    margin-top:0
}
.detail{
    

    width:80%;

    height: 150px;

    float: left;

    border-bottom: 2px solid gray;
    margin-top:0
}

